.main {
  height: 100%;
  position: relative;
  .header {
    top: 0;
    position: sticky;
    z-index: 9999;
    background: var(--bg-component-color);
    padding: 0;
    height: 72px;
    box-shadow: var(--box-shadow);
    .logo {
      height: 100%;
      justify-content: center;
      //box-shadow: 2px 0 6px 0 var(--box-shadow-color);
      img {
        width: 70%;
      }
    }
    .btn-collapsed {
      width: 50px;
      margin: 0 10px;
      .ant-btn-icon {
        span {
          color: var(--text-color);
          font-size: 20px;
        }
      }
      &:hover {
        background: none;
      }
    }
  }
  .container {
    background: var(--bg-color);
    padding: 10px 15px 15px;
    .sider {
      background: var(--bg-color);
      margin-right: 10px;
      .menu {
        background: var(--bg-component-color);
        color: var(--text-color);
        font-weight: 400;
        //border-radius: 4px;
        height: 100%;
        box-shadow: var(--box-shadow);
        .ant-menu-item {
          font-weight: 500;
          &:hover {
            background: var(--bg-color);
            color: var(--primary-color);
          }
        }
        .ant-menu-item-selected {
          background: var(--bg-color);
          color: var(--primary-color);
        }
      }
    }
    .content {
      background: var(--bg-component-color);
      box-shadow: var(--box-shadow);
      //border-radius: 4px;
      overflow: hidden;
    }
  }
}
